@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
html, body {
  background-color: #F1F1EF;
  font-family: "Montserrat", sans-serif;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


/* NAV MENU */

.nav {
  height: 120px;
  padding-top: 40px;
  background-color: #F1F1EF;
  z-index: 10;
}

.name {
  top: 45px;
  position: absolute;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 400;
  color: #222222;
  display: inline-block;
}

.right {
  top: 55px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
  display: inline-block;
}

.right li {
  display: inline-block;
  margin-right: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #222222;
}

.right li a:hover {
  color: red;
}


/* About Page */

.about-social {
  padding-left: 0;
}

.about .body .picture {
  position: relative;
  width: 100%;
  float: left;
  z-index: 9;
}

.about .body .social {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  z-index: 2;
  display: inline-block;
  position: relative;
  margin-left: 1.25rem;
}

.about .body .social li {
  display: inline-block;
}

.about .body .social li a {
  color: #aaa;
  text-decoration: none;
  font-size: 23px;
}

.about .body .social li a i {
  text-decoration: none;
  font-size: 23px;
}

.about .body .social li a i:hover {
  color: black;
}

.about .body .picture img {
  width: 100%;
  margin-bottom: 15px;
  z-index: 9;
}

.about .body .content {
  margin-bottom: 60px;
  position: relative;
}

.about .body .content p {
  font-size: 13px;
  font-weight: normal;
}

.about .body .content .section-header {
  letter-spacing: .5px;
  color: #aaa;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.about .body .content ul {
  margin-top: 20px;
  list-style-type: none;
  margin-left: 0;
}

.about .body .content li {
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: list-item;
  margin: 12px 0 0 0;
}

.about .body .content ul li:first-child {
  margin: 0;
}
