div {
	border: 2px solid black;
	border-radius: 10px;
	background-color: #5a5255;
	text-align: center;
	width:85%;
    margin-left: auto;
    margin-right: auto;
}
        
.header {
    display:block;
}
        
.htext{
	color: white;
    font-family: Helvetica;
}
        
.body-container {
    display:block;
    margin-top:10px;
}
        
.box1 {
    display:inline-block;
    width: 25%;
    margin: 10px;
}
        
.reflection{
    display:block;
    margin-top:10px;
}
        
.pstyle {
    color: white;
    font-family: Helvetica;
    font-size: 14px;
    margin-left: 5px;
    margin-right: 5px;
}
        
.header1 {
    color:white;
    font-size: 18px;
}