#toolbar {
	width:80%;
	height:35px;
	text-align:center;
	background-color:#A8A8A8;
	font-size:20px;
	font-weight:bold;
	margin-left: auto;
	margin-right: auto;
}

#toolbar ul {
	height:auto;
	padding:8px 0px;
	margin: 0px;
}

#toolbar li {
	display: inline;
	padding: 20px;
}

#toolbar a {
	text-decoration:none;
	color:black;
}

#toolbar a:hover{
	color:red;
}

#body img {
	float:left;
	margin: 27px 25px 10px 150px;
	border:1px black solid;
}

h1 {
	text-align: center;
}

h3 {
	text-align:center;
}

#body h2 {
	display:inline-block;
}

#indexbody {
	width:80%;
}

#footer {
	position:absolute;
	bottom:10px;
	height: 50px;
	width: 80%;
	margin-left:auto;
	margin-right: auto;
}

#social img {
	float:right;
	margin: 1px 1px 1px 1px;
}

#header h2 {
	text-align:left;
}

#header h3 {
	text-align:left;
}

#bloglist {
	text-align: center;
}

#bloglist p {
	font-weight: bold;
}

#bloglist p a:link {
	text-decoration: none;
	font-weight:bold;
}

#bloglist p a:hover {
	color:black;
}

#textbody a:link{
	font-weight:bold;
	text-decoration: none;
	color:blue;
}

#textbody a:hover{
	color:red;
}
