#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
	clear:both;
	width:80%;
	margin-bottom:10%;
}

.push {
	height:4em;
}

html, body {
	height: 100%;
}

#toolbar {
	width:80%;
	height:35px;
	text-align:center;
	background-color:#A8A8A8;
	font-size:20px;
	font-weight:bold;
	margin-left: auto;
	margin-right: auto;
}

#toolbar ul {
	height:auto;
	padding:8px 0px;
	margin: 0px;
}

#toolbar li {
	display: inline;
	padding: 20px;
}

#toolbar a {
	text-decoration:none;
	color:black;
}

#toolbar a:hover{
	color:red;
}

h1 {
	text-align: center;
}

h3 {
	text-align:center;
}

#body h2 {
	display:inline-block;
}

#indexbody {
	width:80%;
}

#blogheader {
	margin-left:10%;
	margin-right:10%;
}

#textbody {
	margin-bottom:10%;
}

#textbody ul li{
	margin-left:10%;
	margin-right:10%;
}

#footer {
	position:absolute;
	bottom:0px;
	height: 4em;
	width: 80%;
	margin-top:50%;
	margin-left:auto;
	margin-right: auto;
	display:block;
}

#social {
	float:right;
}

#social img {
	float:right;
	margin: 1px 1px 1px 1px;
}

#blogheader h2 {
	text-align:left;
}

#blogheader h3 {
	text-align:left;
}

#bloglist {
	text-align: center;
}

#bloglist p {
	font-weight: bold;
}

#bloglist p a:link {
	text-decoration: none;
	font-weight:bold;
}

#bloglist p a:hover {
	color:black;
}

#textbody a:link{
	font-weight:bold;
	text-decoration: none;
	color:blue;
}

#textbody a:hover{
	color:red;
}

#contentimg {
	margin-left:auto;
	margin-right:auto;
}

.caption {
	font-size: 10px;
	font-style:italic;
}