.header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.select {
  border-style: solid;
  width: 30%;
  float:left;
  margin-top: 5px;
}
      
.operators {
  border-style: solid;
  width: 30%;
  display: inline-block;
  margin-top:5px;
  margin-left: 55px;
}

.join {
  border-style: solid;
  width: 30%;
  float:right;
  margin-top: 5px;
}
      
p {
  border-top: solid;
  border-width: 1px;
}
      
h2 {
  margin-top: 0;
  margin-bottom:-16px;
  background-color: blue;
}